<% if session[:user_id] %>
  <div class="nav-buttons">
    <a href="/home" class="btn btn-secondary btn-xl">
      <span title="Home" class="glyphicon glyphicon-home">
      </span>
    </a>
  </div>

  <div class="nav-buttons">
    <a href="/photos/new" class="btn btn-secondary btn-xl">
      <span title="New Photo" class="glyphicon glyphicon-camera">
      </span>
    </a>
  </div>

  <div class="nav-buttons">
    <a href="/photos" class="btn btn-secondary btn-xl">
      <span title="Profile" class="glyphicon glyphicon-sunglasses">
      </span>
    </a>
  </div>

  <div class="nav-buttons">
    <a href="/explore" class="btn btn-secondary btn-xl">
      <span title="Explore" class="glyphicon glyphicon-map-marker">
      </span>
    </a>
  </div>


  <%= form_tag("search", :method => 'get') do %>
    <%= text_field_tag("search") %>
    <%= button_tag "search" %>
  <% end %>

  <div id="signout_botton">
    <button type="button">
      <%= link_to "Sign out", destroy_user_session_path, :class => "glyphicon glyphicon-log-out", :method => :delete %>
    </button>
  </div>

<% end %>
