  <div id="home_botton">
    <a href="/home">
      <button>Home</button>
    </a>
  </div>

  <div id="newphoto_botton">
    <button type="button">
      <%= link_to "New Photo", new_photo_path %>
    </button>
  </div>

  <div id="signout_botton">
    <button type="button">
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    </button>
  </div>
