  <div id="home_botton">
    <a href="/home">
      <button>Home</button>
    </a>
  </div>


  <div id="upload_botton">
    <a href="/photos/new">
      <button>New Photo</button>
    </a>
  </div>


  <div id="profile_botton">
    <a href="/photos">
      <button>My Page</button>
    </a>
  </div>


  <div id="signout_botton">
    <button type="button">
      <%= link_to "Sign out", destroy_user_session_path, :class => "allButtons", :method => :delete %>
    </button>
  </div>
