<!-- == section == -->
<h1>Home</h1>


<div id="contentBx">
  <% @photos.each do |photo| %>

        <p id="feed">Live Feed:</p>
        <div id="picCont">

            <div id="userBx">

            </div>

            <div id="picBx">
              <%= link_to image_tag(photo.image.url(:original), :class => "imgBxPic"), photo_path(current_user, photo) %>
            </div>

            <div id="picInfoBx">

              <div id="titleBx">
                <%= photo.title %>
              </div>

              <div id="like">
              </div>

            </div>

            <div id="bodyBx">
            </div>
        </div>
  <% end %>

</div>
