<!-- == section == -->
<h1>Home</h1>


<div id="contentBx">
    <p id="feed">Live Feed:</p>
    <div id="verticalBX">
  <% @photos.each do |photo| %>

        <div id="picCont">

            <div id="userBx">
              <p id="userText"><%= @user.username %></p>
            </div>

            <div id="picBx">
              <%= link_to image_tag(photo.image.url(:original), :class => "imgBxPic"), photo_path(photo) %>
            </div>

            <div id="picInfoBx">

              <div id="titleBx">
                <%= photo.title %>
              </div>

              <div id="like">Like
              </div>

            </div>

            <div id="bodyBx">
              <%= photo.body %>
            </div>
        </div>
  <% end %>
    </div>
</div>
