/*======= ======= ======= Main Layout ======= ======= =======*/

#yieldDiv {
  border: 2px solid lightskyblue;
}

#menuBar {
  // border: 2px solid pink;
  height: 50px;
}


body {
    background-image: url("background.png");
}

button {
  cursor: pointer;
}

/*======= ======= menuBar ====== =======*/
.btn {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  float: left;
  color: #52527a;
}


/*======= ======= login/signup ====== =======*/
.field, .actions {
  margin-left: 40%
}


/*======= ======= BODY ====== =======*/
#contentBx{
  border: 1px solid;
  height: auto;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: center;
}
#feed{
  float: left;
}
#picCont{
  border: 1px solid;
  height: 500px;
  width: 600px;
}
#userBx{
  border: 1px solid;
  height: 80px;
  width: 80px;
}
#picBx{
  border: 1px solid;
  height: 350px;
  width: 100%;
}
.imgBxPic{
  height: 350px;
  width: 100%;
}
