#contentBx{
  border: 1px solid;
  height: auto;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: center;
}
#feed{
  float: left;
}
#picCont{
  border: 1px solid;
  height: 500px;
  width: 600px;
}
#userBx{
  border: 1px solid;
  height: 80px;
  width: 80px;
}
