/*======= ======= ======= Main Layout ======= ======= =======*/

#yieldDiv {
  border: 2px solid lightskyblue;
}

#menuBar {
  border: 2px solid pink;
  height: 50px;
}

.allButtons {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*======= ======= menuBar ====== =======*/
#profile_botton {
  float: left;
}

#home_botton {
  float: left;
}

#upload_botton {
  float: left;
}

#signout_botton {
  float: right;
}
